<table id="DataTable" cellspacing=3><tbody>
    <tr>
        <th style="visibility:hidden;">Cid</th>
        <th><a href="" onclick="ChangeOrder('2');return false;">{{.LNG "FIRST_NAME"}}*</a></th>
        <th><a href="" onclick="ChangeOrder('3');return false;">{{.LNG "LAST_NAME"}}*</a></th>
        <th><a href="" onclick="ChangeOrder('4');return false;">{{.LNG "BIRTH_DATE"}}*</a></th>
        <th><a href="" onclick="ChangeOrder('5');return false;">{{.LNG "GENDER"}}*</a></th>
        <th><a href="" onclick="ChangeOrder('6');return false;">{{.LNG "EMAIL"}}*</a></th>
        <th><a href="" onclick="ChangeOrder('7');return false;">{{.LNG "ADDRESS"}}</a></th>
        <th><a href="" onclick="ChangeOrder('8');return false;">{{.LNG "LAST_UPDATE"}}</a></th>
    </tr>
    {{ if .Customers}} {{range .Customers}}
    <tr>
        <td style="visibility:hidden;">{{.Cid}}</td>
        <td><input type="text" id="FirstName{{.Cid}}" maxlength="100" name="{{.FirstName}}" value="{{.FirstName}}" onchange="UpdateValue('FirstName',{{.Cid}})"></td>
        <td><input type="text" id="LastName{{.Cid}}" maxlength="100" name="{{.LastName}}" value="{{.LastName}}" onchange="UpdateValue('LastName',{{.Cid}})"></td>
        <td><input type="text" id="BirthDate{{.Cid}}" maxlength="0" name="{{.BirthDate}}" value="{{.BirthDate}}" onchange="UpdateValue('BirthDate',{{.Cid}})"></td>
        <td><select id="Gender{{.Cid}}" name="{{.Gender}}" onchange="UpdateValue('Gender',{{.Cid}})">
            <option value="Male" {{ if .IsSelectedGender "Male" }}selected{{ end }}>{{$.LNG "GENDER_MALE"}}</option>
            <option value="Female" {{ if .IsSelectedGender "Female" }}selected{{ end }}>{{$.LNG "GENDER_FEMALE"}}</option>
            </select>
        </td>
        <td><input type="text" id="Email{{.Cid}}" maxlength="100" name="{{.Email}}" value="{{.Email}}" onchange="UpdateValue('Email',{{.Cid}})"></td>
        <td><input type="text" id="Address{{.Cid}}" maxlength="200" name="{{.Address}}" value="{{.Address}}" onchange="UpdateValue('Address',{{.Cid}})"></td>
        <td><div id="LastUpdate{{.Cid}}">{{.LastUpdate}}</div></td>
    </tr>
    {{end}} {{else}}
    <tr>
        <td style="visibility:hidden;">-1</td>
        <td colspan=7 align="center">{{$.LNG "NO_ROWS_SELECTED"}}</td>
    </tr>
    {{end}}
</tbody></table>
