<html>

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $(document).ready(function (){
        DisplayDataTable();

        $("#InsertButton").click(function(){
            $("#MessageError").text("");
            $("#MessageSuccess").text("");
            if( (!$("#InsertFirstName").val())||(!$("#InsertLastName").val())||(!$("#InsertBirthDate").val())||(!$("#InsertGender").val())||(!$("#InsertEmail").val()) ){
                $("#MessageError").text("Please fill all mandatory(*) fields");
            } else {
                $.ajax({
                    url: '/Insert',
                    type: "post",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ FirstName: $("#InsertFirstName").val(),
                                           LastName: $("#InsertLastName").val(),
                                           BirthDate: $("#InsertBirthDate").val(),
                                           Gender: $("#InsertGender").val(),
                                           Email: $("#InsertEmail").val(),
                                           Address: $("#InsertAddress").val()}),
                    dataType: 'json',
                    success: function(r) {
                        $("#MessageError").text(r.ResponseError);
                        $("#MessageSuccess").text(r.ResponseSuccess);
                        if (!r.ResponseError) {
                            DisplayDataTable();
                        }
                    }
                });
            }
        });

        $("#InsertBirthDate").datepicker({ dateFormat: "yy-mm-dd" }).val();

        $("#SearchBy").on("keyup", function(e){
            if (e.keyCode == 13) {
                $("#CurrentPage").text(1);
                DisplayDataTable();
            }
        });
        $("#SearchBy").on("input", function(){
            $("#CurrentPage").text(1);
            DisplayDataTable();
        });
    });
    function DisplayDataTable() {
        $.ajax({
            url: '/DataTable',
            type: "post",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ SearchBy: $("#SearchBy").val(),
                                   OrderByField: $("#OrderByField").val(),
                                   OrderByDirection: $("#OrderByDirection").val(),
                                   CurrentPage: $("#CurrentPage").text()-1 }),
            dataType: 'json',
            success: function(r) {
                $('#DataTablePlaceholder').html(r.Data);
                $('#PagesCount').text(r.PagesCount);
                 //activate datepicker for dinamically created input fields
                var table = document.getElementById("DataTable");
                for (var r = 1, row; row = table.rows[r]; r++) {
                    $("#"+table.rows[r].cells[3].children[0].id).datepicker({ dateFormat: "yy-mm-dd" }).val();
                }
            }
        });
    };
    function UpdateValue(fieldToUpdate, cid) {
        document.getElementById(fieldToUpdate+cid).style.backgroundColor = "";
        if (($("#"+fieldToUpdate+cid).val()) == ($('#'+fieldToUpdate+cid).attr('name'))) { return }
        $("#MessageError").text("");
        $("#MessageSuccess").text("");
        $.ajax({
            url: '/Update',
            type: "post",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ Cid: cid,
                                   FieldToUpdate: fieldToUpdate,
                                   ValueToUpdate: $("#"+fieldToUpdate+cid).val(),
                                   LastValue: $('#'+fieldToUpdate+cid).attr('name'),
                                   LastUpdate: $("#LastUpdate"+cid).text() }),
            dataType: 'json',
            success: function(r) {
                $("#MessageError").text(r.ResponseError);
                $("#MessageSuccess").text(r.ResponseSuccess);
                if (r.ReloadFlag) {
                    DisplayDataTable();
                } else {
                    $('#'+fieldToUpdate+cid).attr('name', r.LastValue);
                    $("#LastUpdate"+cid).text(r.LastUpdate);
                }
                if (r.ResponseError.length>0) {
                    document.getElementById(fieldToUpdate+cid).style.backgroundColor = "orange";
                }
            }
        });
    };
    function ChangeOrder(orderByField) {
        if ($("#OrderByField").val() == orderByField) {
            if ($("#OrderByDirection").val() == "asc") {
                $("#OrderByDirection").val("desc");
            } else {
                $("#OrderByDirection").val("asc");
            }
        } else {
            $("#OrderByField").val(orderByField);
            $("#OrderByDirection").val("asc");
        }
        DisplayDataTable();
    };
    function ChangePage(a) {
        switch (a) {
            case 'first':
                if ($("#CurrentPage").text() != "1") { 
                    $("#CurrentPage").text(1);
                    DisplayDataTable();
                }
                break;
            case 'prev':
                if ($("#CurrentPage").text() != "1") {
                    $("#CurrentPage").text(($("#CurrentPage").text())-1);
                    DisplayDataTable();
                }
                break;
            case 'next':
                if ($("#CurrentPage").text() != $("#PagesCount").text()) { 
                    $("#CurrentPage").text(($("#CurrentPage").text())-1+2);
                    DisplayDataTable();
                }
                break;
            case 'last':
                if ($("#CurrentPage").text() != $("#PagesCount").text()) { 
                    $("#CurrentPage").text($("#PagesCount").text());
                    DisplayDataTable();
                }
                break;
        }
        //DisplayDataTable();
    };
    </script>
</head>

<body>
    <div style="border-bottom-style: solid; background-color: powderblue;height: 80px;">
        <h1 align="center">{{.LNG_GREETINGS}}</h1>
        <div style="text-align:right;width: 80%">
            EN  RU
        </div>
    </div>
    <p id="InsertTable" align="center">
        <table cellspacing=3><tbody>
            <tr>
                <th>First Name*</th>
                <th>Last Name*</th>
                <th>Birth Date*</th>
                <th>Gender*</th>
                <th>Email*</th>
                <th>Address</th>
                <th></th>
            </tr>
            <tr>
                <td><input type="text" id="InsertFirstName" maxlength="100"></td>
                <td><input type="text" id="InsertLastName" maxlength="100"></td>
                <td><input type="text" id="InsertBirthDate" maxlength="10"></td>
                <td><select id="InsertGender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    </select>
                </td>
                <td><input type="text" id="InsertEmail" maxlength="100"></td>
                <td><input type="text" id="InsertAddress" maxlength="200"></td>
                <td><button id="InsertButton">Add new</button></td>
            </tr>
            <tr>
                <td colspan=7><div id="MessageError" style="color: red"></div></td>
            </tr>
            <tr>
                <td colspan=7><div id="MessageSuccess" style="color: green"></div></td>
            </tr>
            <tr>
                <td colspan=7>&nbsp;</td>
            </tr>
            <tr>
                <td colspan=2><table cellspacing=5><tbody><tr>
                                  <td><a id="LinkFirst" href="" onclick="ChangePage('first');return false;">first</a></td>
                                  <td><a id="LinkFirst" href="" onclick="ChangePage('prev');return false;">prev</a></td>
                                  <td><div id="CurrentPage">1</div></td>
                                  <td>(</td>
                                  <td><div id="PagesCount">1</div></td>
                                  <td>)</td>
                                  <td><a id="LinkFirst" href="" onclick="ChangePage('next');return false;">next</a></td>
                                  <td><a id="LinkFirst" href="" onclick="ChangePage('last');return false;">last</a></td>
                              </tr></tbody></table>
                </td>
                <td style="visibility:hidden;"><input type="text" id="OrderByField" maxlength="0" value="2" size=1></td>
                <td style="visibility:hidden;"><input type="text" id="OrderByDirection" maxlength="0" value="asc" size=1></td>
                <td colspan=3 align="right">Search: <input type="text" id="SearchBy" maxlength="100"></td>
            </tr>
        </tbody></table>
    </p>

    <p id="DataTablePlaceholder" align="center"></p>


</body>

</html>
